Repository d-kimuson/ts-type-expand: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, cspell, eslint-ts-type-expand

prettier:
  run: 'pnpm prettier --write --ignore-unknown --no-error-on-unmatched-pattern --cache {staged_files}
  
    '
  stage_fixed: true
  skip:
  - merge
  - rebase

cspell:
  run: pnpm cspell lint --no-must-find-files --gitignore --cache {staged_files}
  skip:
  - merge
  - rebase

eslint-ts-type-expand:
  stage_fixed: true
  run: 'pnpm --filter ts-type-expand exec eslint --no-error-on-unmatched-pattern --cache --fix {staged_files}
  
    '
  skip:
  - merge
  - rebase

chore(compiler-api-helper): using tsup for build instead of esbuild
  packages/compiler-api-helper/.eslintignore
  packages/compiler-api-helper/package.json
  packages/compiler-api-helper/tsup.config.ts
  pnpm-lock.yaml
Due: prettier, cspell

chore(ts-type-expand-plugin): fix typecheck error
  packages/ts-type-expand-plugin/package.json
Due: prettier, cspell

chore(ts-type-expand-plugin): using tsup for build instead of esbuild
  packages/ts-type-expand-plugin/bin/build.mjs
  packages/ts-type-expand-plugin/package.json
  packages/ts-type-expand-plugin/tsup.config.ts
  pnpm-lock.yaml
Due: prettier, cspell

chore(ts-type-expand): using tsup for build instead of esbuild
  .gitignore
  .prettierignore
  .vscode/launch.json
  cspell.json
  packages/ts-type-expand/.eslintignore
  packages/ts-type-expand/.prettierignore
  packages/ts-type-expand/.vscodeignore
  packages/ts-type-expand/bin/build.mjs
  packages/ts-type-expand/package.json
  packages/ts-type-expand/tsconfig.json
  packages/ts-type-expand/tsup.config.ts
  pnpm-lock.yaml
  scripts/package.sh
  turbo.json
Due: prettier, cspell, eslint-ts-type-expand

chore(*): fix to dev server mode
  packages/compiler-api-helper/package.json
  packages/compiler-api-helper/tsup.config.ts
  packages/ts-type-expand-plugin/package.json
  packages/ts-type-expand-plugin/tsup.config.ts
  packages/ts-type-expand/package.json
  packages/ts-type-expand/tsup.config.ts
Due: prettier, cspell, eslint-ts-type-expand

docs(dev_docs): update introduction to dev
  .vscode/launch.json
  .vscode/tasks.json
  dev_docs/dev.md
Due: prettier, cspell

chore(*): eslint, prettier を update して整理した
  .eslintrc.base.js
  .prettierrc.mjs
  cspell.json
  package.json
  packages/compiler-api-helper/.eslintignore
  packages/compiler-api-helper/.eslintrc.js
  packages/compiler-api-helper/eslint.config.mjs
  packages/compiler-api-helper/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/example/.eslintrc.js
  packages/example/package.json
  packages/ts-type-expand-plugin/.eslintrc.js
  packages/ts-type-expand-plugin/eslint.config.mjs
  packages/ts-type-expand-plugin/tsup.config.ts
  packages/ts-type-expand/eslint.config.mjs
  packages/ts-type-expand/jest.config.cjs
  packages/ts-type-expand/package.json
  packages/ts-type-expand/tsup.config.ts
  pnpm-lock.yaml
Due: prettier, cspell, eslint-ts-type-expand

chore(*): vSCode の制約でできない ts-type-expand パッケージ以外は esm にする
  packages/compiler-api-helper/eslint.config.js
  packages/compiler-api-helper/package.json
  packages/compiler-api-helper/src/index.ts
  packages/compiler-api-helper/tsup.config.ts
  packages/ts-type-expand-plugin/eslint.config.js
  packages/ts-type-expand-plugin/package.json
  packages/ts-type-expand-plugin/src/index.ts
  packages/ts-type-expand-plugin/src/server/controller.ts
  packages/ts-type-expand-plugin/tsconfig.json
  packages/ts-type-expand/src/vsc/type-expand-provider.ts
Due: prettier, cspell, eslint-ts-type-expand

chore(*): fix vscode settings.json for new eslint config
  .vscode/settings.json
Due: prettier, cspell

chore(*): run typecheck before build package
  scripts/package.sh
Due: none

chore(*): fix package.json fields
  package.json
  packages/compiler-api-helper/package.json
  packages/eslint-config/package.json
  packages/example/.eslintrc.js
  packages/ts-type-expand-plugin/package.json
  packages/ts-type-expand-plugin/tsconfig.json
  packages/ts-type-expand/package.json
  pnpm-lock.yaml
Due: prettier, cspell

chore(ts-type-expand-plugin): fix tsconfig and using .js import format
  packages/ts-type-expand-plugin/src/index.ts
  packages/ts-type-expand-plugin/src/server/app.ts
  packages/ts-type-expand-plugin/src/server/context.ts
  packages/ts-type-expand-plugin/src/server/controller.ts
  packages/ts-type-expand-plugin/src/server/index.ts
  packages/ts-type-expand-plugin/src/server/middleware.ts
  packages/ts-type-expand-plugin/src/server/procedure.ts
  packages/ts-type-expand-plugin/src/server/trpc.ts
Due: prettier, cspell

chore(compiler-api-helper): jest to vitest!
  packages/compiler-api-helper/eslint.config.js
  packages/compiler-api-helper/jest.config.js
  packages/compiler-api-helper/package.json
  packages/compiler-api-helper/src/compiler-api-helper.test.ts
  packages/compiler-api-helper/src/compiler-api-helper.ts
  packages/compiler-api-helper/src/test-helpers/program.ts
  packages/compiler-api-helper/test-project/tsconfig.json
  packages/compiler-api-helper/test-project/types/array.ts
  packages/compiler-api-helper/test-project/types/complex.ts
  packages/compiler-api-helper/test-project/types/entity.ts
  packages/compiler-api-helper/test-project/types/enum.ts
  packages/compiler-api-helper/test-project/types/function.ts
  packages/compiler-api-helper/test-project/types/generics.ts
  packages/compiler-api-helper/test-project/types/literal.ts
  packages/compiler-api-helper/test-project/types/object.ts
  packages/compiler-api-helper/test-project/types/primitive.ts
  packages/compiler-api-helper/test-project/types/promise-like.ts
  packages/compiler-api-helper/test-project/types/promise.ts
  packages/compiler-api-helper/test-project/types/re-export/index.ts
  packages/compiler-api-helper/test-project/types/re-export/original.ts
  packages/compiler-api-helper/test-project/types/reserved.ts
  packages/compiler-api-helper/test-project/types/special.ts
  packages/compiler-api-helper/test-project/types/symbol.ts
  packages/compiler-api-helper/test-project/types/tuple.ts
  packages/compiler-api-helper/test-project/types/union.ts
  packages/compiler-api-helper/test-project/types/variable.ts
  packages/compiler-api-helper/tests/jest.test.ts
  packages/compiler-api-helper/tests/test-project/types/symbol.ts
  packages/compiler-api-helper/tests/tsconfig.json
  packages/compiler-api-helper/vitest.config.ts
  pnpm-lock.yaml
Due: prettier, cspell

chore(ts-type-expand): jest to vitest!
  packages/ts-type-expand/eslint.config.mjs
  packages/ts-type-expand/jest.config.cjs
  packages/ts-type-expand/package.json
  packages/ts-type-expand/src/test/jest/jest.test.ts
  packages/ts-type-expand/src/test/vscode/runTest.ts
  packages/ts-type-expand/src/test/vscode/suite/extension.test.ts
  packages/ts-type-expand/src/test/vscode/suite/index.ts
  packages/ts-type-expand/src/utils/tsconfig.test.ts
  packages/ts-type-expand/tsconfig.test.json
  packages/ts-type-expand/vitest.config.ts
  packages/ts-type-expand/vsc-extension-quickstart.md
  pnpm-lock.yaml
Due: prettier, cspell, eslint-ts-type-expand

chore(*): clean npmignore and vscodeignore
  packages/compiler-api-helper/.npmignore
  packages/ts-type-expand/.vscodeignore
Due: none

chore(*): update all depdendencies
  package.json
  packages/compiler-api-helper/package.json
  packages/example/package.json
  packages/ts-type-expand-plugin/package.json
  packages/ts-type-expand/package.json
  pnpm-lock.yaml
Due: prettier, cspell

feat(*): add update all dependencies script
  scripts/local-trial.sh
  scripts/update_all_packages.sh
Due: none

fix(compiler-api-helper): support re-export type extracting for TS 5.0
  packages/compiler-api-helper/src/compiler-api-helper.ts
  packages/example/re-export.ts
Due: prettier, cspell

docs(contributes): update contributes docs
  contributes/dev.md
  contributes/release.md
  cspell.json
  dev_docs/dev.md
Due: prettier, cspell

ci(*): update ci
  .github/.actions/setup_pnpm/action.yaml
  .github/workflows/ci.yml
  .github/workflows/main.yml
  .github/workflows/update_all_packages.yml
Due: prettier, cspell

ci(actions): fix actions directory typo
  .github/actions/setup_pnpm/action.yaml
Due: prettier, cspell

chore(package.json): update support node engine version to 16
  package.json
Due: prettier, cspell

ci(*): try changing 18.0.0
  .github/workflows/ci.yml
  package.json
Due: prettier, cspell

chore(turbo.json): add build task dependency to each tasks
  turbo.json
Due: prettier, cspell

ci(ci): minimize test runners
  .github/workflows/ci.yml
Due: prettier, cspell

ci(*): should not cancel on other job failed
  .github/workflows/ci.yml
Due: prettier, cspell

fix(compiler-api-helper): fix ts5.1 and 5.2 export type show bug
  packages/compiler-api-helper/src/compiler-api-helper.ts
Due: prettier, cspell

docs(*): update readme
  README.md
  contributes/dev.md
  cspell.json
  package.json
Due: prettier, cspell

docs(changelog): write about ts5.0 bug fix
  packages/ts-type-expand/CHANGELOG.md
Due: prettier, cspell

test(*): compose test-project to example package
  packages/compiler-api-helper/eslint.config.js
  packages/compiler-api-helper/src/compiler-api-helper.test.ts
  packages/compiler-api-helper/test-project/tsconfig.json
  packages/compiler-api-helper/test-project/types/complex.ts
  packages/compiler-api-helper/test-project/types/promise.ts
  packages/compiler-api-helper/test-project/types/reserved.ts
  packages/example/enum.ts
  packages/example/functions.ts
  packages/example/re-export.ts
  packages/example/src/patterns/re-export/index.ts
  packages/example/src/patterns/re-export/original.ts
  packages/example/src/patterns/variable.ts
  packages/example/src/types/array.ts
  packages/example/src/types/class.ts
  packages/example/src/types/entity.ts
  packages/example/src/types/enum.ts
  packages/example/src/types/function.ts
  packages/example/src/types/generics.ts
  packages/example/src/types/intersection.ts
  packages/example/src/types/literal.ts
  packages/example/src/types/object.ts
  packages/example/src/types/primitive.ts
  packages/example/src/types/promise.ts
  packages/example/src/types/react-component.tsx
  packages/example/src/types/special.ts
  packages/example/src/types/symbol.ts
  packages/example/src/types/tuple.ts
  packages/example/src/types/union.ts
  packages/example/tsconfig.json
  packages/example/types.ts
  packages/example/variables.ts
  tsconfig.json
Due: prettier, cspell

fix(compiler-api-helper): bug fix that record type broken
  packages/compiler-api-helper/src/compiler-api-helper.test.ts
  packages/compiler-api-helper/src/compiler-api-helper.ts
  packages/example/src/types/mapped_type.ts
Due: prettier, cspell

docs(changelog): write changelog about bug fix for mapped type
  packages/ts-type-expand/CHANGELOG.md
Due: prettier, cspell

feat(ts-type-expand): add experimental copy feature
  packages/compiler-api-helper/src/compiler-api-helper.ts
  packages/example/complexTypes.ts
  packages/ts-type-expand/package.json
  packages/ts-type-expand/resources/dark/copy.svg
  packages/ts-type-expand/resources/dark/refresh.svg
  packages/ts-type-expand/resources/light/copy.svg
  packages/ts-type-expand/resources/light/refresh.svg
  packages/ts-type-expand/src/config.ts
  packages/ts-type-expand/src/extension.ts
  packages/ts-type-expand/src/vsc/type-expand-provider.ts
Due: prettier, cspell, eslint-ts-type-expand

docs(changelog): write about copy and restart button
  packages/ts-type-expand/CHANGELOG.md
  scripts/package.sh
Due: prettier, cspell

chore(*): add clean-local-trial shellscript
  scripts/clean-local-trial.sh
Due: none

fix(compiler-api-helper): support mapped type on TS4.9
  packages/compiler-api-helper/src/compiler-api-helper.ts
Due: prettier, cspell

1.1.0 release
  packages/ts-type-expand/CHANGELOG.md
  packages/ts-type-expand/package.json
Due: prettier, cspell

chore(*): fix release scripts
  scripts/release.sh
Due: none

docs(readme): write about copy feature
  README.md
Due: prettier, cspell

Path conditions:
  prettier: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  cspell: any of: *.{tsx,ts,mts,mcs,mjs,cjs,js,json,md,yml,yaml}
  eslint-ts-type-expand: any of: *.{tsx,ts,mts,mcs} and ^packages/ts\-type\-expand/
